<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HAPPYLAND HOTEL</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
</head>
<body>
{% include "header.html"%}
<div class="container-fluid">
    <h1 class="'jumbotron">EVENTS!!! </h1>

    <section class="row">
       <div class="col-md-5">
         <p> <h2>WEDDINGS</h2>
             The ceremony ends with the groom breaking a glass underfoot.
           The couple spend their first moments as man and wife in seclusion (apart from the wedding guests,
           and with no other person present) ... </p>

     </div>

     <div class="col-md-7">
         <img src="../static/wedd.jpg"  class="img-fliud" height="419px" width="730px"><br><br><br>
     </div>

     <div class="col-md-7">
         <img src="../static/bis.jpg"  class="img-fliud" height="419px" width="730px"><br><br><br>
     </div>
     <div class="col-md-5">
         <p> <h2> Business meetings</h2>
happylands Nairobi means business and we enable our guests to get things done.
         With more than 250 square metres of multi-functional event facilities in an excellent
         location at the heart of Westlands, we offer one of the most exclusive and convenient venues for
         corporate gatherings in Nairobi. Our three Woodvale Ballrooms, together catering up to 220 guests,
         are furnished to the highest standards with wenge wood, Italian marble and plush carpeting
         . Accented by original pieces of modern African artwork, the spaces have a contemporary yet warm ambience.
         Natural light from the floor-to-ceiling glass windows and an outdoor terrace perfect for breakouts,
         create a relaxed and open atmosphere.
</p>
     </div>
         <div class="col-md-5">
         <p> <h2>PHOTOSHOOT</h2>
          an occasion arranged for photographers to take photographs of a politician or another
             famous person, for example for a newspaper. Thesaurus: synonyms and related words. Photography.
</p>
     </div>

      <div class="col-md-7">
         <img src="../static/shoot.jpg"  class="img-fliud" height="419px" width="730px"><br><br><br>
     </div>

      <div class="col-md-7">
         <img src="../static/bash.jpg"  class="img-fliud" height="419px" width="730px"><br><br><br>
     </div>
     <div class="col-md-5">
         <p> <h2>BIRTHDAY CELEBRATIONS</h2>
Perhaps the best part of planning your event at HappylandHotel
         Born is the contagious assurance and calm you will feel while working with our professional event team.
         We channel our Colorado cool attitude into our event planning, which means offering thoughtful packages
         and promotions to help make even the impossible very possible.

</p>
     </div>
          <div class="col-md-5">
         <p> <h2> EVENTS</h2>
         The contemporary elegance of the Happyland Nairobi hotel provides the perfect setting
              for memorable private events. From intimate cocktails and exclusive parties to fashion shows,
              we have the experience, creativity and venues to host signature gatherings.
              In addition to our first floor Woodvale Ballrooms, which can be personalised and decorated to your specific needs,
              Happyland  Nairobi offers 600 square metres of lush garden space that accommodates a diverse host of events from product launches and exhibitions to charity dinners and social gatherings.
</p>
     </div>

     <div class="col-md-7">
         <img src="../static/eve.jpg"  class="img-fliud" height="419px" width="730px"><br><br><br>
     </div>


</section>
</div>

{% include "footer.html" %}
</body>
</html>