<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
</head>
<body>
<footer>
<section class="row"style="background-color:grey; color:white;">
			<div class="col-4">
				<h2>HAPPYLAND HOTEL</h2>
				<p>Our group rates are price checked to ensure you are always getting a competitive group rate.
					Our savings claim is based on a comparison against hotel standard published rates. Look for
					the green percentages to the right of the hotel's group rates for your group savings. Free
					rooms for group coordinators applies to participating hotels only and required group size
					may vary among hotels. If booking on behalf of a company, please make sure your employer
					approves your use of the free room before accepting it from the hotel.
</p>
            </div>
			<div class="col-4">
				<h2>Contact Us</h2>
				<p>Telephone: +254 20 420 8000.
 					Mobile: +254 703 028 000.
					Fax: +254 20 420 8888.
					Email: connect@Happyland hotel.com.
					Website: www.Happyland hotel.com.
					Twitter: @Happyland hotel.
					Facebook: @Happyland hotel.
					Instagram: @Happyland hotel.
				</p>
			</div>
			<div class="col-4">
				<h2>Newsletter</h2>
				<p>Happyland website has been visited by 100K+ users in the past month
					Big Savings on Hotels & Resorts - Deals up to 50% off. Book Now & Save
					Call Now & Save Big · Save Time & Money · Check savings and offers
					Styles: Standard Room, Premium Room, 1 King Size Bed Room Up to 75%
					discount on your hotel. Book the best deal now!
					Find Great Deals · One Click Search · Compare Hotel Sites
					Amenities: 24-Hour Reception, Free Wi-Fi, Parking, Cable / Satellite TV </p>
				<button type="button" class="btn btn-success">Welcome</button></p>
			</div>
		</section>
	</footer>

a
</body>
</html>