<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
</head>
<body>
<section class="row">
<div class="col-md-12">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
<a class="navbar-brand" href=''>Happyland_Management!!!!</a>
<button class="navbar-toggler" type="button"
data-toggle="collapse"
data-target="#navbarNav"
aria-controls="navbarNav"
aria-expanded="false"
aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="/">Home
<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/services">Dining</a>
</li>
   <li class="nav-item">
<a class="nav-link" href="/rooms">Rooms/suites</a>
</li>


    <li class="nav-item">
<a class="nav-link" href="/events">Events and Meetings</a>
</li>
     <li class="nav-item">
<a class="nav-link" href="/checkin">Checkin_Page</a>
</li>
    <li class="nav-item">
<a class="nav-link" href="/registration">Book_Now</a>
</li>
     <li class="nav-item">
<a class="nav-link" href="/login">Login</a>
</li>
 <li class="nav-item">
<a class="nav-link" href="/checkout">Checkout</a>
</li>
     <li class="nav-item">
<a class="nav-link" href="/search">Search</a>
</li>
</ul>


</div>

</nav>
    </div>

</section>



</body>
</html>

