<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAPPYLAND HOTEL</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
</head>
<body>
{% include "header.html"%}
<div class="container-fluid">
    <h1 class="'jumbotron">HAPPYLAND HOTEL </h1>

    <section class="row">
        <div class="col-md-12">
            <p>  <img src="../static/SANK.jpg" height="200px" class="img-fluid" >
</p>
            <center>
 <h3>Tranquil nights - dream in a new room</h3>

<h2>Book and save with a 15% discount on our newly refurbished rooms</h2>
</center>
        </div>

        <div class="col-md-4">

        </div>

    </section>
    <br><br>

      <section class="row">
          <div class="col-md-6">
              <h2>
                  A contemporary five star hotel in Westlands </h2>
          </div>
          <div class="col-md-6">
         <ul type="square">
             <li>Privileged Westlands location</li>
    <li>Six world-class bars and restaurants</li>
    <li>168 spacious, beautifully appointed rooms</li>
    <li>Magnificent rooftop pool</li>
    <li>Multi-fuctional meeting spaces</li>
    <li>Safehotels Executive Level Accreditation</li>

         </ul>

          </div>
      </section>

 <section class="row">
     <div class="col-md-4">
         <img src="../static/ONE.jpg"  class="img-fliud" height="393px" width="393px">
     </div>
     <div class="col-md-4">
          <img src="../static/two.jpg"  class="img-fliud" height="393px" width="393px">
     </div>

     <div class="col-md-4">
         <img src="../static/3.jpg"  class="img-fluid" height="300px">

     </div>
     <br>
 </section>

    <center>
     <h2>Enjoy the best offers</h2>
  </center>
    <p>.</p>
 <section class="row">
     <div class="col-md-4">
         <img src="../static/4.jpg"  class="img-fliud" height="393px" width="393">
         <h2>HappyLand honeymoon Experience</h2>
         <p>Enjoy our Honeymoon Experience at the Happyland Autograph Collection</p>
     </div>

     <div class="col-md-4">
          <img src="../static/5.jpg"  class="img-fliud" height="393px" width="393">
         <h3>Culinary Adventure at Graze</h3>
         <p>Foodies,Treat you taste buds to a feast</p>

     </div>

     <div class="col-md-4">
         <img src="../static/6.jpg"  class="img-fluid" height="393px" width="393">
         <h3>Every Night is Date Night</h3>
         <p>Break Up their routine with an in-town romantic overnight adventure</p>

     </div>
 </section>
</div>
{% include "footer.html" %}
</body>
</html>