<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HAPPYLAND HOTEL</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
</head>
<body>
{% include "header.html"%}
<div class="container-fluid">
    <h1 class="'jumbotron">OUR SERVICES!!! </h1>

    <section class="row">
       <div class="col-md-5">
         <p> <h2>Graze Steakhouse</h2>
Sankara Nairobi's signature restaurant,
             Graze, is designed to indulge your inner gourmand.
             Graze is a modern take on the New York-style steakhouse, offering aged beef,
             succulent seafood and indulgent desserts paired to perfection with eclectic wines and whiskies
             from some of the finest producers in the world.
             Special limited time offer* - book a lunch at Graze online and get 10% off your bill!</p>

     </div>

     <div class="col-md-7">
         <img src="../static/din.jpg"  class="img-fliud" height="419px" width="730px"><br><br><br>
     </div>

     <div class="col-md-7">
         <img src="../static/din2.jpg"  class="img-fliud" height="419px" width="730px"><br><br><br>
     </div>
     <div class="col-md-5">
         <p> <h2>Artisan</h2>
          Situated on the hotel’s first floor,
         Artisan showcases the finest global cuisine with a
         live show kitchen and an outdoor terrace. The culinary philosophy here revolves around fresh,
         seasonal and organic produce served in an authentic yet contemporary presentation with each dish
         revealing the chef’s personal touch.
</p>
     </div>
         <div class="col-md-5">
         <p> <h2> The Gallery</h2>
         In the evening,
         HappyLand Nairobi's stylish and elegant wine bar
         offers an intimate space in which to unwind and get together with friends.
         By day, it is also perfect for small business meetings or working in peace and quiet.
</p>
     </div>

      <div class="col-md-7">
         <img src="../static/din3.jpg"  class="img-fliud" height="419px" width="730px"><br><br><br>
     </div>

      <div class="col-md-7">
         <img src="../static/din4.jpg"  class="img-fliud" height="419px" width="730px"><br><br><br>
     </div>
     <div class="col-md-5">
         <p> <h2>Sarabi Rooftop Bar</h2>
         With sweeping views over the Nairobi skyline,
         the rooftop Sarabi Rooftop Bar is the city’s premier place to meet, eat and enjoy.
         By day, the open-air pool deck provides a great escape from
         the buzz of the city with healthy juices and light revitalising cuisine.
</p>
     </div>
          <div class="col-md-5">
         <p> <h2>   The Champagne Bar</h2>
         Located on the seventh floor,
         The Champagne Bar is a place to relax, indulge and watch the world go by.
         Our carefully selected beverage list is comprised of champagnes, champagne cocktails and
         an extensive array of the finest single malt whiskies.
</p>
     </div>

     <div class="col-md-7">
         <img src="../static/din5.jpg"  class="img-fliud" height="419px" width="730px"><br><br><br>
     </div>


     <div class="col-md-7">
         <img src="../static/din6.jpg"  class="img-fliud" height="419px" width="730px"><br><br><br>
     </div>
     <div class="col-md-5">
         <p> <h2> Opera  </h2>
          The latest exciting addition to Sankara Nairobi is the Parisienne themed Opera Patisserie.
         It tells a story of a unique and sophisticated sensory experience for the ultimate dessert lover.
         Located on the First Floor and identified by it’s stylish design.
</p>
     </div>
</section>

{% include "footer.html" %}
</body>
</html>